html
  head
    title LetsAuth - Grant
  body
    pre
      | response_type: #{response_type}
      | client_id: #{client_id}
      | redirect_uri: #{redirect_uri}
      | state: #{state}
      | scope: #{scope}
